default_packages:
  - sudo
  - locales
  - curl
  - jq
  - unzip
  - vim

default_groups: ["config"]

default_users:
  - { name: "app",  groups: ["config"], create_home: false, home: "/app" }
  - { name: "config", groups: ["config", "root", "sudo"], create_home: false, home: "/app" }

ssh_users:
  - config
