{{if .IsSigned}}<a class="item" href="{{AppSubUrl}}/-/admin/actions/runners/1">{{svg "octicon-dot"}}</a>{{end}}

<a class="item" id="navbar-home" href="{{AppSubUrl}}/main" aria-label="home"></a>

<div class="ui dropdown jump item">{{svg "octicon-arrow-down-right"}}
  <div class="transition menu">
    <% (node['git']['org'] || {}).values.compact.each do |org| %>
      <a class="item" role="menuitem" href="{{AppSubUrl}}/<%= org %>"><%= org %></a>
    <% end %>
  </div>
</div>
