{{if .IsSigned}}
<div class="ui dropdown jump item">{{svg "octicon-chevron-down"}}
  <div class="transition menu user-menu">
    <% (node['git']['org'] || {}).values.compact.each do |org| %>
      <div class="item">
        <a class="" href="{{AppSubUrl}}/<%= org %>"> <%= org %> </a>
        <div class="right floated muted-links">
          <a role="menuitem" href="{{AppSubUrl}}/org/<%= org %>/settings">{{svg "octicon-sliders"}}</a>
        </div>
      </div>
      <div class="divider"></div>
    <% end %>
  </div>
</div>
{{end}}

<a class="item" id="navbar-home" href="{{AppSubUrl}}/main" aria-label="home"></a>

{{if .IsSigned}}
<a class="item" href="{{AppSubUrl}}/-/admin/actions/runners/1">{{svg "octicon-three-bars" 16}}</a>
<a class="item" href="{{AppSubUrl}}/main/config">{{svg "octicon-package" 16}}</a>
{{end}}
