<footer id="customized-footer" class="page-footer" role="group" aria-label="Footer">
  <div class="left-links" role="contentinfo" aria-label="About Software">
    <a href="<%= @online %>"><%= @title %></a> <%= @version %>
  </div>

  <div class="right-links" role="group" aria-label="Links">
    <div class="ui dropdown upward" tabindex="0" role="menu" aria-haspopup="" aria-controls="_aria_auto_id_0" aria-expanded="false">
      <span class="flex-text-inline"><svg viewBox="0 0 16 16" class="svg octicon-globe" aria-hidden="true" width="14" height="14"></svg> English</span>
      <div class="menu language-menu" tabindex="-1" id="_aria_auto_id_0" role="">
        <a lang="en-US" data-url="/?lang=en-US" class="item selected" id="_aria_auto_id_1" role="menuitem" tabindex="-1">English</a>
      </div>
    </div>
    <a href="/assets/licenses.txt">Gitea</a>
    <a href="/-/admin">Admin</a>
  </div>

</footer>